<h3 class="page-title brand-green">A FREE Loyalty Program for Community Businesses</h3>

<h4>What is Swellcoin?</h4>
<p>
    Swellcoin combines a Shop Your Community initiative and business cashback rewards into one so it PAY$ to shop where you live (Shop Tally). <span class="brand-blue">Sponsors</span> support and promote the community initiative, <span class="brand-blue">Businesses</span> offer cashback rewards, and <span class="brand-blue">Residents</span> swipe and earn locally. Built in membership drives enable <span class="brand-blue">NonProfits</span> and <span class="brand-blue">Schools</span> to raise funds while growing the community initiative. A bank secure web/mobile app makes it accessible to all.
</p>

<h4>FREE for area Businesses!</h4>
<p>
    Sign up today and offer cashback rewards in less than 5 minutes. Based on your configurable reward rate (%), your customers return again and again to earn or spend their cashback credit at your business. The cashback you issue can only be spent back with your business. Invite your customers, and reach new customers, too.
</p>

<h4>Loyalty that’s Easy:</h4>
<p>
    Businesses set a reward rate (%), customers link their spending cards, and with every swipe they automatically earn a cashback credit to save and spend back with your business on a future purchase. When earnings are ready to redeem, the customer presents their mobile phone with desired/available redemption amount. The cashier need only key in your store’s unique 4 digit code to validate amount, then reduce current purchase accordingly. Swellcoin’s bank secure app tracks everything. 
</p>

<h4>The Swellcoin Directory:</h4>
<p>
    All member businesses are highlighted in our directory, showcasing your business, reward rate (%) and business info to residents eager to shop their community and earn cashback rewards for doing so!
</p>

<h4>Swellcome:</h4>
<p>
    Coming soon. Attract new customers with Swell Start, an optional cashback advance so new members see a redeemable cashback credit at your business upon signing up. 
</p>

<h4>Reward your Business.</h4>
<p>
    Why not get rewarded by your vendors. And as you know, it is just as important to reduce cost with vendors, as increase sales with customers. Swellcoin helps you do both!
</p>

<h4>Good News:</h4>
<p>
    Shop Your Community initiatives can grow area spending from 4-10%, and loyalty programs over 17%. Combined together, get ready to grow your business, and your community.
</p>

<p>
    <a class="btn sign-up-btn" href="https://app.swellcoin.com/sign-up?ref=business">Set Reward Rate</a>
</p>