<h3 class="page-title brand-green">Shop Your Community Initiative Sponsorships & Fundraisers</h3>

<h4 class="page-subtitle">

</h4>

<h4>What is Swellcoin?</h4>

<p>
    Swellcoin combines a Shop Your Community initiative and business cashback rewards into one, so it PAY$ to shop where you live (Shop Tally). <span class="brand-blue">Sponsors</span> support and promote the community initiative, <span class="brand-blue">Businesses</span> offer cashback rewards, and <span class="brand-blue">Residents</span> swipe and earn cashback rewards locally. Built in membership drives enable <span class="brand-blue">NonProfits</span> and <span class="brand-blue">Schools</span> to raise funds while growing the community initiative. A  bank secure web/mobile app makes it accessible to all.
</p>    

<h4>For Your Community:</h4>
<p>
    Lead or support a “Shop Your Community” initiative in your area, or supercharge an existing effort, powered by Swellcoin. We make it easy and rewarding while connecting your organization with businesses and residents across your community.
</p>

<h4>Become a Sponsor:</h4>
<p>
    Community sponsors are the recognized leaders and supporters of the “Shop Your Community” initiative and promote the program and their involvement to the community. Typical sponsors are city government, economic development organizations, chambers, merchant associations, banks and credit unions, community non profit organizations or commercial real estate entities. Tiered levels allow sponsors to specify involvement and recognition level, as well as boost marketing opportunities for their affiliated businesses.
</p>

<a class="btn sign-up-btn" href="/#contact" style="width: 130px;">Request Sponsorship Package</a>

<h4>Community Schools & Non Profits:</h4>
<p>
    To give back to the community while growing the initiative impact, Swellcoin provides a fundraising component where participating area schools and non profits receive $10 for every resident signup that lists their referral code. 
</p>

<a class="btn sign-up-btn" href="/#contact" style="width: 130px;">Start Fundraising</a>
