<h3 class="page-title brand-green">For Customers</h3>

<h4>
    What is Swellcoin?
</h4>
<p>
        Swellcoin is a community loyalty program where YOU earn cashback with every swipe at participating businesses. Now you can support the community businesses you love, while keeping some jingle in your own pocket, too! And you can donate part of your signup fee to a local nonprofit of your choosing. Wow. You’re growing your community already!
</p>

<h4>
    How does it work?
</h4>
<p>
        Simply sign up on or download the Swellcoin app and link your spending cards. With every swipe at a member business, you automatically earn digital cashback to save/spend on a future purchase with the issuer.
</p>

<h4>How much will you earn?</h4>
<p>
    Each member business sets their own reward rate, generally ranging from 1% to 20%. Rate x Amount Spent = Cashback You Earn. 
</p> 

<h4>How do I track my earnings?</h4>
<p>
    Our dashboard makes it easy to keep tabs on all your earned cashback, both web and mobile. Transactions will generally appear within 24 hours of being posted by your bank or card provider.
</p>

<h4>How do I spend my cashback?</h4> 
<p>
    Select amount to redeem and display mobile phone to the cashier, who will validate by inputting their store PIN. That amount will then be deducted from your total bill at the register. Swell Yeah!
</p>

<h4>How much does it costs:</h4>
<p>
    For only $39 / year, enjoy cashback earnings from scores of businesses across your community, while keeping more jobs, money and vibrancy where you live! If you’ve been referred by a local nonprofit or school, input their referral code and we’ll donate $10 of your fee to their efforts.
</p>

<a class="btn sign-up-btn" href="https://app.swellcoin.com/sign-up">Get Started</a>