<div id="home" class="bgimg section section-1">
  <a id="ForTheLoveLink" href="http://ishoptally.com">
    <img  src="img/for-the-love-of-tally.png">
  </a>
  <div class="content">
    <img class="logo-title" src="img/ShopTallyWhite.png" />
    <p>Swipe. Earn. Grow.</p>
    <a class="btn sign-up-btn" href="https://app.swellcoin.com/sign-up">Sign Up</a>
  </div>
  <div class="down-arrow-container">
    <div class="down-arrow"></div>
  </div>
</div>

<div id="how-it-works" class="section section-2">
  <h4 class="section-title brand-green">How It Works</h4>
  <div id="how-it-works-anchor" style="margin-top: -80px; float: left"></div>
  <div class="content">    
    <img class="hiw-full" src="img/sc.png"></img>
    <img class="hiw-icon" src="img/user.png"></img>
    <p class="hiw-text"><a href="/customers">Customers:</a> Link your spending cards and earn cashback at participating community businesses.</p>
    <img class="hiw-icon" src="img/shop.png"></img>
    <p class="hiw-text"><a href="/businesses">Businesses:</a> Supercharge Shop Tally by adding cashback rewards to attract more local customers to YOUR business.</p>
    <img class="hiw-icon" src="img/city.png"></img>
    <p class="hiw-text"><a href="/communities">Community:</a> Become a Sponsor and help grow the Shop Tally spirit. Let's keep more spending and jobs here!</p>
  </div>
</div>

<div id="get-started" class="bgimg section section-3">
  <h4 class="section-title">Are you...</h4>
  <div class="content">
    <div class="get-started">
      <h4>A Customer</h4>
      <p>Looking to earn cashback for spending at participating community businesses?</p>
      <a class="btn" href="/customers">Learn More</a>
    </div>
    <div class="get-started">
      <h4>A Business</h4>
      <p>Looking to keep more community spending at YOUR business using cashback rewards?</p>
      <a class="btn" href="/businesses">Learn More</a>
    </div>
    <div class="get-started">
      <h4>A Municipality</h4>
      <p>Looking to become a Sponsor or start a Shop Your Community initiative?</p>
      <a class="btn" href="/communities">Learn More</a>
    </div>
  </div>
  <div class="spacer-20"></div>
</div>

<div id="testimonials" class="section section-4">
  <div class="content">
    <h4 class="section-title">Shopping Your Community...</h4>
    <div class="carousel">
      <div>
        <p>Creates more jobs and a stronger local economy.</p>
      </div>
      <div>
        <p>Keeps more money, sales taxes and projects in the community.</p>
      </div>
      <div>
        <p>Strengthens local charities, environment and community character.</p>
      </div>
    </div>
  </div>
</div>

<div class="bgimg section section-5">
  <div class="content">
    It pays to Shop Tally
  </div>
</div>

<div id="mission" class="section section-6">
  <div class="content">
    <h4 class="section-title">Mission</h4>
    <!--<p>
        Our mission is simple. We want to help communities restore and grow spending at local businesses, keeping more money, jobs
        and vibrancy at home - by making it PAY to buy local. Swellcoin is a Veteran-Owned business.
      </p>-->
    <p>
      Our mission is to make small and local business rewards easy and available to everyone - saving customers money, increasing
      small/local business profits, and strengthening communities. Now That's Swell.
    </p>

  </div>
</div>

<div id="contact" class="bgimg section section-7">
  <div class="content">
    <h4 class="section-title">Contact</h4>
    <p>
      We're your resident neighborhood Swell Squad - a talented group of dreamers and doers committed to making everyday people,
      businesses and communities thrive. We'd love for YOU to be a part of it.
    </p>
    <form id="contact-form" action="https://formspree.io/contact@swellcoin.com" method="POST">
      <input type="text" name="_gotcha" style="display: none;" />
      <input class="form-field" type="text" name="name" placeholder="NAME" />
      <input class="form-field" type="email" name="email" placeholder="EMAIL" />
      <textarea class="form-field" name="question" placeholder="ASK US A QUESTION"></textarea>
      <button class="btn" type="button">Send</button>
    </form>

    <p id="success-msg" style="display: none;">Thanks for contacting Swellcoin! <br/> You'll be hearing from us soon.</p>

  </div>
</div>