<h3 class="page-title brand-green">Our current participating business</h3>



<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">221B Baker's Treat</h2>
        <h4>Reward Rate: 3%</h4>
        <p style="color: #808487;" >331 Russ Ln, Quincy</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">All Care Senior Consulting</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >2130 La Rochelle Drive, Tallahassee</p>
    </div>
</div>
<div  style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">AVON Rep Lynn Jones</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >3211 Notre Dame Street, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">B-EZ Graphix</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >2300 Bluff Oak Way, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Blissfully Yours Weddings Decor & Rentals</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >PO Box 180583, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Bourne Brilliant</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >5032 Capital Circle SW, Ste 2 PMB #191, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Bramazing</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >1817 Bloxham Cutoff, Crawfordville</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Breadwinners BBQ</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >2036 S Adams St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Capital City Pedicabs</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >113 S Monroe Street, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">City Walk Urban Mission</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >1105 N Monroe St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Conchman Conway llc</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >Na, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Cultura Latina Magazine</h2>
        <h4>Reward Rate: 15%</h4>
        <p style="color: #808487;" >P.O. Box 20961, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Curious Ollie Art</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >3400 Old Bainbridge Road, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Dandelion Bliss, LLC</h2>
        <h4>Reward Rate: 6%</h4>
        <p style="color: #808487;" >2303 La Rue Ct, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Divine Consign</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >1661 N. Monroe Street, TALLAHASSEE</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">ELITE OFFICE AND BUSINESS SOLUTIONS</h2>
        <h4>Reward Rate: 2%</h4>
        <p style="color: #808487;" >504-A Capital Circle, SE, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">ElleBelle Photography, Design & Events</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >2708 Power Mill Ct, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Entreprenoles Media</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >235 south ocala road , tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Farming The Future</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >2746 pecan rd, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Gaines Street Pies</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >603 W Gaines St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Grandlife Moments Photography</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >2208 Monaco Dr, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Haven Spa</h2>
        <h4>Reward Rate: 2%</h4>
        <p style="color: #808487;" >2236 Capital Cir NE, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Initial Social Media</h2>
        <h4>Reward Rate: 20%</h4>
        <p style="color: #808487;" >1714 San Damian Rd, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">King Konch LLC</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >2023 S Adams St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Kitschy Wearable Art</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >1112 S. Magnolia Drive Apt S201, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Lilla Rose</h2>
        <h4>Reward Rate: 3.5%</h4>
        <p style="color: #808487;" >14992 Grasshopper Trl, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">The Living Harvest, Inc</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >1219 West Tharpe Street, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">LMichelleMedia: BelieveVR</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >2915 Sharer Rd, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Mae's Southern Delights - Catering</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >2473 Crawfordville Hwy, Crawfordville</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Mary</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >319, quail run Crawfordville, Crawfordville</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Michael Balanoff - RE/MAX Professionals Realty</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >1901, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Moda Travel</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >914 Railroad Ave Suite 27, Tallahassee</p>
    </div>
</div>
<div  style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Nefetari's Fine Cuisine & Spirits</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >812 S Macomb St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Obsessions jwwm Gift Shop</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >618 McDonnell Drive B3, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">ParrInc</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >2249 NE Hyatt Ct, BEND</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">QUARTER MOON IMPORTS INC.</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >1641 N. MONROE ST, TALLAHASSEE</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Rapid Press, Inc.</h2>
        <h4>Reward Rate: 1%</h4>
        <p style="color: #808487;" >3626 Cagney Dr, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Sankofa Healing and Enrichment, Inc</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >undefined, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Signature Lounge</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >242 E. Orange Ave., Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Soul Rebel Esthetics</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >1106 Thomasville Rd. , Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Southeast Defense Training</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >Online, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">/stajd/ LLC</h2>
        <h4>Reward Rate: 3%</h4>
        <p style="color: #808487;" >123 Main St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Sweet Face Beauty Fusions</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >524 N Martin Luther King Jr Blvd, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Sweet Tee Shirts & Designs</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >1969 Hickory Tree Lane, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">TallyYakkers OutFitter</h2>
        <h4>Reward Rate: 2.5%</h4>
        <p style="color: #808487;" >2512- Balsam Terrace, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Target Print & Mail</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >635 W Tennessee Street, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Thirty-One Gifts_Carol Burch</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >2317 Ohbah Nene, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Toy Nation LLC</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >2746 Capital Circle NE, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">TRIOS Beautique</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >685 Industrial Drive, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Tu Lan Designs</h2>
        <h4>Reward Rate: 2%</h4>
        <p style="color: #808487;" >3244 Black Gold Trail, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">United Way of the Big Bend</h2>
        <h4>Reward Rate: 10%</h4>
        <p style="color: #808487;" >307 E 7th Ave, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Warhorse Whiskey Bar</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >603 W Gaines St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">The Wilbury</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >513 W Gaines St, Tallahassee</p>
    </div>
</div>
<div style="border: 1px solid #808487;margin: 15px;">
    <div style="margin-left: 15px;">
        <h2 style="margin-bottom: -5px;">Wildtree with Alix</h2>
        <h4>Reward Rate: 5%</h4>
        <p style="color: #808487;" >2423 Vega Drive, Tallahassee</p>
    </div>
</div>

</div>
