<h3 class="page-title brand-green">Submit your info to appear in our directory.</h3>
<p>
    <a href="supportlocal">Go back to directory.</a>
</p>
<br/>
<br/>
<form id="AddBizForm" name="addBiz" method="POST">
    <table style="width: 100%;">
        <tbody>
            <td colspan="2" style="font-weight: 600;">
                Information
            </td>
            <tr>
                <td>Your Email</td>
                <td><input type="text" name="email" required /></td>
            </tr>
            <tr>
                <td>Your Phone #</td>
                <td><input type="text" name="personalPhone" required /></td>
            </tr>
            <tr>
                <td>Business Name</td>
                <td><input type="text" name="businessName" required /></td>
            </tr>
            <tr>
                <td>Business Phone #</td>
                <td><input type="text" name="businessPhone" required /></td>
            </tr>
            <tr>
                <td>Website URL</td>
                <td><input type="text" name="url" required /></td>
            </tr>
            <td colspan="2" style="font-weight: 600;">
                Social
                <p style="font-weight: initial;font-size: .9rem;margin-top: 0;"> The full url. (ex: https://www.instagram.com/swellcoin/)</p>
             </td>
             <tr>
                 <td>Facebook</td>
                 <td><input type="url" name="facebook" /></td>
             </tr>
             <tr>
                 <td>Instagram</td>
                 <td><input type="url" name="instagram" /></td>
             </tr>
            <tr>
                <td colspan="2" style="font-weight: 600;">
                    What are you offering?
                </td>
            </tr>
            <tr>
                <td>Gift Cards</td>
                <td><input type="checkbox" name="gift-cards" /></td>
            </tr>
            <tr>
                <td>Online</td>
                <td><input type="checkbox" name="online" /></td>
            </tr>
            <tr>
                <td>Curbside</td>
                <td><input type="checkbox" name="curbside" /></td>
            </tr>
            <tr>
                <td>Delivery</td>
                <td><input type="checkbox" name="delivery" /></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp</td>
            </tr>
            <td colspan="2" style="text-align: center;">
                <button type="submit"  style="padding: .5rem;">SUBMIT</button>
            </td>
        </tbody>
    </table>
    <input name="fool-me-once" type="text" style="display: none;" />
</form>

<br/>
<p>Questions? Email us at <a href="mailto:support@swellcoin.com">support@swellcoin.com</a>.</p>