<div style="max-width: 1200px;">
<br/>
<br/>
<img src="/img/for-the-love-of-tally.png" style="margin: 0 auto; width: 75%; display: block;" />

<p>Our small and local businesses need us now more than ever. Whether purchasing gift cards now for later use, or accessing new ways to connect 
    with area businesses safely, spending money locally will help keep our community and economy healthy and vibrant. 
</p>
<p><a href="http://ishoptally.com/add-your-business">Add your business</a> to let customers know how best to support and connect with you.</p>

<br/>
<table id="BizTable">
    <thead>
        <th>Business</th>
        <th>Phone</th>
        <th>Social</th>
        <th>Gift Cards</th>
        <th>Online</th>
        <th>Curbside</th>
        <th>Delivery</th>
    </thead>
    <tbody>
        
    </tbody>
</table>

<br/>

<a href="http://ishoptally.com/add-your-business">Don't see your business?</a>
<br/>
<br/>
<br/>
<br/>
</div>