<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">

    <meta property="og:url"                content="https://www.swellcoin.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Shop local initiative with cashback incentive." />
    <meta property="og:description"        content="Our mission is to make small and local business rewards easy and available to everyone - saving customers money, increasing small/local business profits, and strengthening communities. Now That's Swell." />
    <meta property="og:image"              content="https://www.swellcoin.com/img/shop-tally-banner.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://kit.fontawesome.com/2c1b159b07.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/8c576d957f.js"></script>
    <title>Swellcoin | {{title}}</title>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new
                Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-98400053-1', 'auto'); ga('send', 'pageview');
    </script>
</head>

<body {{#unless isHomePage }}class="info-page" {{/unless}}>
    <div class="page-container">
        <nav id="main-nav">
            <a href="/" id="nav-title"> </a>
            <div id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li><a href="/#how-it-works-anchor">How It Works</a></li>
                <li><a href="/participating-businesses">Participating Businesses</a></li>
                <li><a href="/#mission">About</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li><a class="sign-in" href="https://app.swellcoin.com/login">Sign In</a></li>
            </ul>
        </nav>

        <div class="page-content">

            {{{content}}}

        </div>

    </div>

    <footer class="section section-footer">
        <ul class="social">
            <li><a href="/#contact"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/swellcoin/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/swellcoin/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/swellcoin/" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="site">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
            <li><a href="/security">Security</a></li>
        </ul>
        <p>Copyright &copy; <span id="CopyrightYear">2018</span> Swellcoin LLC</p>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="js/site.js"></script>
</body>

</html>