// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #ForTheLoveLink {
        display: inherit;
    }

    .section-1 {
        @include chevronSectionDown($section-1-height-lg);
        .content {
            padding-top: 10vw;
            .logo-title {                                        
                width: 600px;
            }
            p {
                font-size: 30px;
                margin-bottom: 6vw; 
            }            
        }
    }
    .section-2 {
        @include chevronSectionDown($section-2-height-lg);
        .content {         
            .hiw-full {
                margin-top: -210px;
            }                      
        }
    }
    .section-3 {
        .content {
            .get-started {
                padding: 0 48px;
            }
        }
     }
    .section-4 {
        height: #{$section-4-height-lg}vw;
    }
    .section-5 {
        @include chevronSectionUp($section-5-height-lg);
        .content {
            font-size: 80px;
            line-height: #{$section-5-height-lg - 10}vw;
        }
    }
    .section-6 {
        .content {
            .section-title {
                margin-bottom: 8vw;
            }
        }  
    }
    .section-7 { 

    }
} 