@import 'variables';
@import 'mixins';

html {
    height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;  
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: $dark-gray;
}

.page-container {
    flex: 1;
}

.bgimg {
    position: relative;
    //opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    position: relative;
}

.section-title {
    text-align: center;    
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 8px;
}

.page-title {
    text-align: center;    
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 8px;
    margin: 60px 0;
}

.content { 
    width: 100%;
    //max-width: 960px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    font-size: 22px;
    padding: 15px 20px;
    text-decoration: none;
    background-color: $white;    
}

.sign-up-btn {            
    padding: 14px 40px;      
    font-size: 22px;
    border: 2px solid $white;
    transition: all 0.3s ease;
    color: #4fa374;   
    &:hover {
        background-color: transparent;
        color: $white;
    }      
}

.spacer-20 {
    height: 20px;
}

#main-nav {
    z-index: 101;
    position: relative;            
    #nav-title {
        display: none;
        margin: 15px 0 0 15px;             
    }    
    #nav-toggle-container {
        width: 100%;
    }
    #nav-toggle {
        position: absolute;        
        right: 0;        
        float: right;
        margin: 15px 15px 0 0;        
        width: 40px;
        height: 40px;

        transform: rotate(0deg);            
        transition: .5s ease-in-out; 
        cursor: pointer;
        span {
            display: block;
            position: absolute;            
            height: 4px;
            width: 100%;
            background: $white;         
            opacity: 1;
            left: 0;                
            transform: rotate(0deg);                
            transition: .3s ease-in-out;
            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 12px;
            }             
            &:nth-child(3)  {
                top: 12px;
            }                 
            &:nth-child(4) {
                top: 24px;
            }
        }

        &.open span {            
            &:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }                
            &:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }

    }
    ul {                
        margin: 0;
        padding: 0;
        padding-top: 55px;
        padding-bottom: 25px;
        display: none;        
        li {                      
            list-style-type: none;
            text-align: center;
            //text-transform: uppercase;
            //letter-spacing: 3px;       
            a {                
                display: block;
                padding: 15px;
                color: $light-text;
                text-decoration: none;                
                transition: all .2s ease;
                &:hover {
                    color: transparentize($light-text, .8);                        
                }
            }             
        }
    }   
}

.section-1 {    
    text-align: center;
    @include backgroundImageGradient($bgImgUrl1);    
    @include chevronSectionDown($section-1-height-xs);
    z-index: 100;
    color: $light-text; 
    .content {
        padding-top: 25vw; 
        .logo-title {                        
            width: 85vw;
        }
        p {
            font-size: 24px;
            margin-bottom: 16vw; 
        }
    }
    .down-arrow-container {
        position: absolute;
        width: 100%;
        bottom: 20px;
        .down-arrow {
            margin-left: auto;
            margin-right: auto;
            width: 72px;
            height: 18px;
            background-color: white;
            -webkit-clip-path: polygon(0 0, 50% 88%, 100% 0, 100% 12%, 50% 100%, 0 12%);
            clip-path: polygon(0 0, 50% 88%, 100% 0, 100% 12%, 50% 100%, 0 12%);
        }
    }    
}

.section-2 {
    background: $white;    
    @include chevronSectionDown($section-2-height-xs);
    z-index: 90; 
    margin-top: -#{$chevron-angle + 10}vw;
    .section-title {
        padding-top: #{$chevron-angle + 9}vw;    
    }
    .content {
        color: $dark-text; 
        text-align: center;        
        a {
            color: $brand-green;
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover {
                color: darken( $brand-green, 20% )
            }
        }
        .hiw-full {
            display: none;
        }
        .hiw-icon {
            display: block;
            margin: 8vw auto;
            //margin: 24px auto;
            width: 45%;
        }
        .hiw-text {
            font-size: 5.5vw;
            padding: 0 10px;
        }
    }
}

.section-3 {
    @include backgroundImageOverlay($bgImgUrl2, $overlay-color-blue);        
    margin-top: -#{$chevron-angle + 3}vw;
    padding-top: #{$chevron-angle + 3}vw;  
    z-index: 80;
    color: $light-text;
    .content {        
        .get-started {
            //background-color: rgba(35, 35, 35, .5);
            border: 1px solid $light-text;
            margin: 20px;
            padding: 10px;
            min-height: 200px;
            text-align: center;
            h4 {
                font-size: 24px;
                text-transform: uppercase;
                margin-top: 8px;
                margin-bottom: 0;
                letter-spacing: 2px;
            }
            p {                                
                font-size: 22px;
            }
            .btn {
                display: block;
                border: 2px solid $white;
                transition: all 0.3s ease;
                color: $brand-blue;
                &:hover {
                    background-color: transparent;
                    color: $light-text;
                }
            }            
        }
    }
}

.section-4 {
    background-color: $dark-gray;    
    height: #{$section-4-height-xs}vw;
    z-index: 80;
    color: $light-text; 
    .carousel {
        text-align: center;
        font-size: 22px;        
    }
}

.section-5 {
    @include backgroundImageOverlay($bgImgUrl2, $overlay-color-gray);    
    @include chevronSectionUp($section-5-height-xs);
    z-index: 90;
    margin-top: -#{$chevron-angle}vw;
    .content {        
        line-height: #{$section-5-height-xs - 5}vw;
        color: $light-text;
        text-align: center;
        font-weight: 600;
        font-size: 9vw;        
    }    
}

.section-6 {
    background: white;    
    z-index: 80;
    margin-top: -#{$chevron-angle}vw;
    color: $dark-text;
    .content {
        padding-top: 8vw;        
        padding-bottom: 40px;        
        .section-title {
            color: $brand-blue;
        }
        p {
            padding: 0 20px;
        }
    }
}

.section-7 {
    @include backgroundImageGradient($bgImgUrl4);
    height: 500px;
    color: $light-text;
    //margin-top: -32px;
    .content {
        .section-title {
            margin-top: 0;
            padding-top: 64px;
        }
        form {
            text-align: center;
            width: 80%;
            max-width: 768px;
            margin: 0 auto;
            .form-field {
                display: block;
                height: 50px;
                width: 100%;
                padding: 10px 20px;
                margin: 10px 0;
                box-sizing: border-box;            
                font-family: inherit;    
            }
            textarea.form-field {
                height: 100px;
            }
            button {
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                width: 100%;
                border: none;
                transition: all 0.3s ease;                
                background-color: rgba(255, 255, 255, .5);
                color: $light-text;
                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                    color: #4fa374;
                    cursor: pointer;
                } 
            }
        }
    }
}

.section-footer {
    background-color: $dark-gray;        
    
        color: $light-text;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;        
        ul {
            margin: 40px 0 0 0;
            padding: 0;
            li {
                list-style: none;
                margin: 10px 0;
                a {
                    padding: 10px;
                    text-decoration: none;
                    transition: all .2s ease;                                     
                    color: $light-text;
                    &:hover {
                        color: transparentize($light-text, .8);                        
                    }                
                }
            }            
            &.social {
                display: inline-block;
                li {
                    float: left;
                    padding: 0 10px;                     
                }
            }
        }        
        p {
            font-size: 12px;
            color: transparentize($light-text, .5);
            margin: 40px 0;
        }
    
}

#success-msg {
    text-align: center;
    font-size: 22px;
    line-height: 60px;
}   

// INFO PAGES

#AddBizForm {
    input {
        width: 100%;
        padding: .25rem;
    }
}


body.info-page {
    background-color: $white;    
    #main-nav {
        background-color: $dark-gray; 
        //position: absolute;
        top: 0;
        width: 100%;
        float: left;
        #nav-title {
            position: absolute;
            background-image: url("../img/SwellcoinLogo.png");
            background-repeat: no-repeat;
            background-size: contain;        
            display: block;
            float: left;
            width: 100px;     
            height: 32px;            
            &.open {
                background-image: url("../img/SwellcoinLogoWhite.png");
            }
        }
        #nav-toggle {          
            span {                
                background: $dark-gray;
            }
            &.open span {
                background: $white;
            }
        }
        ul {
            margin: 10px;
        }
    }
    .page-content { 
        float: left;
        margin-top: 21px;        
        padding-top: 20px;
        max-width: 768px;
        width: 100%;   
        margin-left: auto;
        margin-right: auto;
        p, h1, h2, h3, h4, h5, h6 {
            padding-right: 10px;
            padding-left: 10px;
        }        
        .scrolling-doc {
            height: 600px;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 1px solid $light-gray;            
            font-size: 14px;
            margin: 0 15px;
        }
        .download-pdf-link {
            margin: 20px 15px;
            float: right;
        }
    }
    .sign-up-btn {            
        padding: 14px 40px;      
        display: block;
        text-align: center;
        width: 102px;
        margin: 60px auto;    
        font-size: 22px;
        font-weight: 400;
        border: 2px solid $brand-green;
        background-color: transparent;
        transition: all 0.3s ease;
        color: $brand-green;   
        &:hover {
            background-color: $brand-green;
            color: $white;
        }      
    }
}
#home {
    position: relative;
    #ForTheLoveLink {
        position: absolute;
        width: 10%;
        left: 1rem;
        top: 15%;
        img {
            width: 100%;
        }
    }
}

@import 'media-sm';
@import 'media-md';
@import 'media-lg';
@import 'media-xl';

@media only screen and (max-device-width: 1024px) {
    .bgimg {
        background-attachment: scroll;
        
    }
}

//utils
.text-center {
    text-align: center;
}

.brand-blue {
    color: $brand-blue;
}

.brand-green {
    color: $brand-green;
}