html {
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #3d3d3d; }

.page-container {
  flex: 1; }

.bgimg {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.section {
  position: relative; }

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 8px; }

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 8px;
  margin: 60px 0; }

.content {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto; }

.btn {
  font-size: 22px;
  padding: 15px 20px;
  text-decoration: none;
  background-color: #fff; }

.sign-up-btn {
  padding: 14px 40px;
  font-size: 22px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  color: #4fa374; }
  .sign-up-btn:hover {
    background-color: transparent;
    color: #fff; }

.spacer-20 {
  height: 20px; }

#main-nav {
  z-index: 101;
  position: relative; }
  #main-nav #nav-title {
    display: none;
    margin: 15px 0 0 15px; }
  #main-nav #nav-toggle-container {
    width: 100%; }
  #main-nav #nav-toggle {
    position: absolute;
    right: 0;
    float: right;
    margin: 15px 15px 0 0;
    width: 40px;
    height: 40px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer; }
    #main-nav #nav-toggle span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .3s ease-in-out; }
      #main-nav #nav-toggle span:nth-child(1) {
        top: 0px; }
      #main-nav #nav-toggle span:nth-child(2) {
        top: 12px; }
      #main-nav #nav-toggle span:nth-child(3) {
        top: 12px; }
      #main-nav #nav-toggle span:nth-child(4) {
        top: 24px; }
    #main-nav #nav-toggle.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    #main-nav #nav-toggle.open span:nth-child(2) {
      transform: rotate(45deg); }
    #main-nav #nav-toggle.open span:nth-child(3) {
      transform: rotate(-45deg); }
    #main-nav #nav-toggle.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }
  #main-nav ul {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 25px;
    display: none; }
    #main-nav ul li {
      list-style-type: none;
      text-align: center; }
      #main-nav ul li a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        transition: all .2s ease; }
        #main-nav ul li a:hover {
          color: rgba(255, 255, 255, 0.2); }

.section-1 {
  text-align: center;
  background-image: -moz-linear-gradient(left, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg1.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg1.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg1.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 130vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83.46154%, 50% 100%, 0 83.46154%);
  clip-path: polygon(0 0, 100% 0, 100% 83.46154%, 50% 100%, 0 83.46154%);
  z-index: 100;
  color: white; }
  .section-1 .content {
    padding-top: 25vw; }
    .section-1 .content .logo-title {
      width: 85vw; }
    .section-1 .content p {
      font-size: 24px;
      margin-bottom: 16vw; }
  .section-1 .down-arrow-container {
    position: absolute;
    width: 100%;
    bottom: 20px; }
    .section-1 .down-arrow-container .down-arrow {
      margin-left: auto;
      margin-right: auto;
      width: 72px;
      height: 18px;
      background-color: white;
      -webkit-clip-path: polygon(0 0, 50% 88%, 100% 0, 100% 12%, 50% 100%, 0 12%);
      clip-path: polygon(0 0, 50% 88%, 100% 0, 100% 12%, 50% 100%, 0 12%); }

.section-2 {
  background: #fff;
  height: 335vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 93.58209%, 50% 100%, 0 93.58209%);
  clip-path: polygon(0 0, 100% 0, 100% 93.58209%, 50% 100%, 0 93.58209%);
  z-index: 90;
  margin-top: -31.5vw; }
  .section-2 .section-title {
    padding-top: 30.5vw; }
  .section-2 .content {
    color: #1d1d1d;
    text-align: center; }
    .section-2 .content a {
      color: #85c14f;
      text-decoration: none;
      transition: all 0.3s ease; }
      .section-2 .content a:hover {
        color: #537e2c; }
    .section-2 .content .hiw-full {
      display: none; }
    .section-2 .content .hiw-icon {
      display: block;
      margin: 8vw auto;
      width: 45%; }
    .section-2 .content .hiw-text {
      font-size: 5.5vw;
      padding: 0 10px; }

.section-3 {
  background-image: -moz-linear-gradient(left, rgba(69, 155, 188, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg2.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(69, 155, 188, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg2.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(69, 155, 188, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg2.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-top: -24.5vw;
  padding-top: 24.5vw;
  z-index: 80;
  color: white; }
  .section-3 .content .get-started {
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    min-height: 200px;
    text-align: center; }
    .section-3 .content .get-started h4 {
      font-size: 24px;
      text-transform: uppercase;
      margin-top: 8px;
      margin-bottom: 0;
      letter-spacing: 2px; }
    .section-3 .content .get-started p {
      font-size: 22px; }
    .section-3 .content .get-started .btn {
      display: block;
      border: 2px solid #fff;
      transition: all 0.3s ease;
      color: #459bbc; }
      .section-3 .content .get-started .btn:hover {
        background-color: transparent;
        color: white; }

.section-4 {
  background-color: #3d3d3d;
  height: 80vw;
  z-index: 80;
  color: white; }
  .section-4 .carousel {
    text-align: center;
    font-size: 22px; }

.section-5 {
  background-image: -moz-linear-gradient(left, rgba(35, 35, 35, 0.9) 0%, rgba(35, 35, 35, 0.9) 100%), url("../img/bg2.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(35, 35, 35, 0.9) 0%, rgba(35, 35, 35, 0.9) 100%), url("../img/bg2.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(35, 35, 35, 0.9) 0%, rgba(35, 35, 35, 0.9) 100%), url("../img/bg2.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 70vw;
  -webkit-clip-path: polygon(0 30.71429%, 50% 0, 100% 30.71429%, 100% 100%, 50% 69.28571%, 0 100%);
  clip-path: polygon(0 30.71429%, 50% 0, 100% 30.71429%, 100% 100%, 50% 69.28571%, 0 100%);
  z-index: 90;
  margin-top: -21.5vw; }
  .section-5 .content {
    line-height: 65vw;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 9vw; }

.section-6 {
  background: white;
  z-index: 80;
  margin-top: -21.5vw;
  color: #1d1d1d; }
  .section-6 .content {
    padding-top: 8vw;
    padding-bottom: 40px; }
    .section-6 .content .section-title {
      color: #459bbc; }
    .section-6 .content p {
      padding: 0 20px; }

.section-7 {
  background-image: -moz-linear-gradient(left, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg4.jpg");
  /* FF3.6-15 */
  background-image: -webkit-linear-gradient(left, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg4.jpg");
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to right, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg4.jpg");
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 500px;
  color: white; }
  .section-7 .content .section-title {
    margin-top: 0;
    padding-top: 64px; }
  .section-7 .content form {
    text-align: center;
    width: 80%;
    max-width: 768px;
    margin: 0 auto; }
    .section-7 .content form .form-field {
      display: block;
      height: 50px;
      width: 100%;
      padding: 10px 20px;
      margin: 10px 0;
      box-sizing: border-box;
      font-family: inherit; }
    .section-7 .content form textarea.form-field {
      height: 100px; }
    .section-7 .content form button {
      text-transform: uppercase;
      letter-spacing: 4px;
      display: block;
      width: 100%;
      border: none;
      transition: all 0.3s ease;
      background-color: rgba(255, 255, 255, 0.5);
      color: white; }
      .section-7 .content form button:hover {
        background-color: white;
        color: #4fa374;
        cursor: pointer; }

.section-footer {
  background-color: #3d3d3d;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px; }
  .section-footer ul {
    margin: 40px 0 0 0;
    padding: 0; }
    .section-footer ul li {
      list-style: none;
      margin: 10px 0; }
      .section-footer ul li a {
        padding: 10px;
        text-decoration: none;
        transition: all .2s ease;
        color: white; }
        .section-footer ul li a:hover {
          color: rgba(255, 255, 255, 0.2); }
    .section-footer ul.social {
      display: inline-block; }
      .section-footer ul.social li {
        float: left;
        padding: 0 10px; }
  .section-footer p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin: 40px 0; }

#success-msg {
  text-align: center;
  font-size: 22px;
  line-height: 60px; }

#AddBizForm input {
  width: 100%;
  padding: .25rem; }

body.info-page {
  background-color: #fff; }
  body.info-page #main-nav {
    background-color: #3d3d3d;
    top: 0;
    width: 100%;
    float: left; }
    body.info-page #main-nav #nav-title {
      position: absolute;
      background-image: url("../img/SwellcoinLogo.png");
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      float: left;
      width: 100px;
      height: 32px; }
      body.info-page #main-nav #nav-title.open {
        background-image: url("../img/SwellcoinLogoWhite.png"); }
    body.info-page #main-nav #nav-toggle span {
      background: #3d3d3d; }
    body.info-page #main-nav #nav-toggle.open span {
      background: #fff; }
    body.info-page #main-nav ul {
      margin: 10px; }
  body.info-page .page-content {
    float: left;
    margin-top: 21px;
    padding-top: 20px;
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    body.info-page .page-content p, body.info-page .page-content h1, body.info-page .page-content h2, body.info-page .page-content h3, body.info-page .page-content h4, body.info-page .page-content h5, body.info-page .page-content h6 {
      padding-right: 10px;
      padding-left: 10px; }
    body.info-page .page-content .scrolling-doc {
      height: 600px;
      overflow-y: scroll;
      overflow-x: hidden;
      border: 1px solid lightgray;
      font-size: 14px;
      margin: 0 15px; }
    body.info-page .page-content .download-pdf-link {
      margin: 20px 15px;
      float: right; }
  body.info-page .sign-up-btn {
    padding: 14px 40px;
    display: block;
    text-align: center;
    width: 102px;
    margin: 60px auto;
    font-size: 22px;
    font-weight: 400;
    border: 2px solid #85c14f;
    background-color: transparent;
    transition: all 0.3s ease;
    color: #85c14f; }
    body.info-page .sign-up-btn:hover {
      background-color: #85c14f;
      color: #fff; }

#home {
  position: relative; }
  #home #ForTheLoveLink {
    position: absolute;
    width: 10%;
    left: 1rem;
    top: 15%; }
    #home #ForTheLoveLink img {
      width: 100%; }

@media (min-width: 576px) {
  #ForTheLoveLink {
    display: none; }
  .section-title {
    font-size: 28px; }
  .section-1 {
    height: 90vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 76.11111%, 50% 100%, 0 76.11111%);
    clip-path: polygon(0 0, 100% 0, 100% 76.11111%, 50% 100%, 0 76.11111%); }
    .section-1 .content {
      padding-top: 15vw; }
      .section-1 .content .logo-title {
        width: 70vw; }
      .section-1 .content p {
        margin-bottom: 16vw; }
    .section-1 .down-arrow-container {
      bottom: 35px; }
  .section-2 {
    height: 225vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90.44444%, 50% 100%, 0 90.44444%);
    clip-path: polygon(0 0, 100% 0, 100% 90.44444%, 50% 100%, 0 90.44444%); }
    .section-2 .content .hiw-icon {
      width: 30%; }
    .section-2 .content .hiw-text {
      font-size: 3vw; }
  .section-4 {
    height: 60vw; }
  .section-5 {
    height: 70vw;
    -webkit-clip-path: polygon(0 30.71429%, 50% 0, 100% 30.71429%, 100% 100%, 50% 69.28571%, 0 100%);
    clip-path: polygon(0 30.71429%, 50% 0, 100% 30.71429%, 100% 100%, 50% 69.28571%, 0 100%); }
  .section-6 .content {
    max-width: 760px; }
    .section-6 .content .section-title {
      margin-bottom: 13vw; } }

@media (min-width: 768px) {
  #main-nav {
    z-index: 101;
    position: relative; }
    #main-nav #nav-title {
      background-image: url("../img/SwellcoinLogoWhite.png") !important;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      float: left;
      width: 100px;
      height: 32px;
      margin: 20px 0 0 20px; }
    #main-nav #nav-toggle {
      display: none; }
    #main-nav ul {
      display: block !important;
      margin: 10px;
      float: right;
      padding-top: 0; }
      #main-nav ul li {
        list-style-type: none;
        float: left;
        margin: 10px; }
        #main-nav ul li a {
          text-decoration: none;
          padding: 5px;
          border-bottom: 1px solid transparent;
          transition: border-bottom 0.3s ease-in-out 0s; }
          #main-nav ul li a:hover {
            border-bottom: 1px solid #fff;
            color: white; }
          #main-nav ul li a.sign-in {
            padding: 5px 10px;
            border: 1px solid #fff;
            border-radius: 50px;
            font-weight: 400;
            transition: all .3s ease; }
            #main-nav ul li a.sign-in:hover {
              color: #459bbc;
              background-color: #fff; }
  nav {
    display: block; }
  .section-1 {
    height: 65vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 66.92308%, 50% 100%, 0 66.92308%);
    clip-path: polygon(0 0, 100% 0, 100% 66.92308%, 50% 100%, 0 66.92308%); }
    .section-1 .content {
      padding-top: 13vw; }
      .section-1 .content .logo-title {
        width: 60vw; }
      .section-1 .content p {
        font-size: 28px;
        margin-bottom: 11vw; }
  .section-2 {
    height: 97vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 77.83505%, 50% 100%, 0 77.83505%);
    clip-path: polygon(0 0, 100% 0, 100% 77.83505%, 50% 100%, 0 77.83505%); }
    .section-2 .content {
      max-width: none;
      position: relative; }
      .section-2 .content .hiw-icon {
        display: none; }
      .section-2 .content .hiw-full {
        display: block;
        margin: -170px auto 0 auto;
        width: 100%; }
      .section-2 .content .hiw-text {
        float: left;
        width: 20%;
        font-size: 20px;
        position: absolute;
        padding: 0; }
        .section-2 .content .hiw-text:nth-of-type(1) {
          top: 60%;
          left: 8%; }
        .section-2 .content .hiw-text:nth-of-type(2) {
          top: 82%;
          left: 39.5%; }
        .section-2 .content .hiw-text:nth-of-type(3) {
          top: 60%;
          left: 73%; }
  .section-3 .content {
    margin-bottom: 60px;
    display: flex; }
    .section-3 .content .get-started {
      width: 30%;
      margin: 0;
      padding: 0 28px;
      border: none;
      border-left: 1px solid white; }
      .section-3 .content .get-started:first-child {
        border-left: none; }
      .section-3 .content .get-started h4 {
        margin-top: 20px;
        margin-bottom: 0; }
      .section-3 .content .get-started p {
        display: block;
        min-height: 100px;
        margin-top: 0;
        margin-bottom: 40px;
        line-height: 20px;
        font-size: 18px; }
      .section-3 .content .get-started .btn {
        margin-bottom: 38px; }
  .section-4 {
    height: 50vw; }
  .section-5 {
    height: 70vw;
    -webkit-clip-path: polygon(0 30.71429%, 50% 0, 100% 30.71429%, 100% 100%, 50% 69.28571%, 0 100%);
    clip-path: polygon(0 30.71429%, 50% 0, 100% 30.71429%, 100% 100%, 50% 69.28571%, 0 100%); }
  .section-7 .content form button {
    display: inline;
    width: auto;
    padding: 15px 30px;
    margin-top: 15px; }
  .section-footer ul.site li {
    font-size: 16px;
    display: inline-block;
    border-right: 1px solid; }
    .section-footer ul.site li:last-child {
      border-right: none; }
  body.info-page {
    background-color: #fff; }
    body.info-page #main-nav {
      background-image: -moz-linear-gradient(left, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg1.jpg");
      /* FF3.6-15 */
      background-image: -webkit-linear-gradient(left, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg1.jpg");
      /* Chrome10-25,Safari5.1-6 */
      background-image: linear-gradient(to right, rgba(133, 193, 79, 0.9) 0%, rgba(69, 155, 188, 0.9) 100%), url("../img/bg1.jpg");
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      position: absolute;
      top: 0;
      width: 100%;
      float: left; }
    body.info-page .page-content {
      margin-top: 71px;
      float: none; } }

@media (min-width: 992px) {
  #ForTheLoveLink {
    display: inherit; }
  .section-1 {
    height: 50vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 57%, 50% 100%, 0 57%);
    clip-path: polygon(0 0, 100% 0, 100% 57%, 50% 100%, 0 57%); }
    .section-1 .content {
      padding-top: 10vw; }
      .section-1 .content .logo-title {
        width: 600px; }
      .section-1 .content p {
        font-size: 30px;
        margin-bottom: 6vw; }
  .section-2 {
    height: 90vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 76.11111%, 50% 100%, 0 76.11111%);
    clip-path: polygon(0 0, 100% 0, 100% 76.11111%, 50% 100%, 0 76.11111%); }
    .section-2 .content .hiw-full {
      margin-top: -210px; }
  .section-3 .content .get-started {
    padding: 0 48px; }
  .section-4 {
    height: 40vw; }
  .section-5 {
    height: 60vw;
    -webkit-clip-path: polygon(0 35.83333%, 50% 0, 100% 35.83333%, 100% 100%, 50% 64.16667%, 0 100%);
    clip-path: polygon(0 35.83333%, 50% 0, 100% 35.83333%, 100% 100%, 50% 64.16667%, 0 100%); }
    .section-5 .content {
      font-size: 80px;
      line-height: 50vw; }
  .section-6 .content .section-title {
    margin-bottom: 8vw; } }

@media (min-width: 1200px) {
  .section-1 {
    height: 43vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%); }
    .section-1 .content {
      padding-top: 10vw; }
      .section-1 .content p {
        margin-bottom: 6vw; }
  .section-2 {
    height: 70vw;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%);
    clip-path: polygon(0 0, 100% 0, 100% 69.28571%, 50% 100%, 0 69.28571%); }
    .section-2 .content .hiw-full {
      margin-top: -265px;
      width: 85%; }
    .section-2 .content .hiw-text {
      width: 20%;
      font-size: 20px; }
      .section-2 .content .hiw-text:nth-of-type(1) {
        top: 60%;
        left: 13%; }
      .section-2 .content .hiw-text:nth-of-type(2) {
        top: 82%;
        left: 39.5%; }
      .section-2 .content .hiw-text:nth-of-type(3) {
        top: 60%;
        left: 67.5%; }
  .section-3 .content .get-started {
    padding: 0 75px; }
  .section-4 {
    height: 40vw; }
  .section-5 {
    height: 50vw;
    -webkit-clip-path: polygon(0 43%, 50% 0, 100% 43%, 100% 100%, 50% 57%, 0 100%);
    clip-path: polygon(0 43%, 50% 0, 100% 43%, 100% 100%, 50% 57%, 0 100%); }
    .section-5 .content {
      line-height: 37vw; } }

@media only screen and (max-device-width: 1024px) {
  .bgimg {
    background-attachment: scroll; } }

.text-center {
  text-align: center; }

.brand-blue {
  color: #459bbc; }

.brand-green {
  color: #85c14f; }
